@import url('https://fonts.googleapis.com/css?family=Courgette|Lato&subset=latin-ext');

body {
	background: #55ACEE;
	padding-top: 40px;
	font-family: 'Lato', sans-serif;
	color: #ecf0f1;
	text-align: center;
	margin: 0;
}
h1 {
 font-size: 40px;
 margin: 0;
}
h2 {
	font-family: 'Courgette', sans-serif;
	font-size: 32px;
	letter-spacing: 4px;
	margin: 60px auto 25px auto;
	max-width: 70%;
}
h3 {
	font-size: 24px;
	margin: 0 0 60px 0;
}
button {
	background: #55ACEE;
	margin-bottom: 30px;
}
a {
	display: block;
	text-decoration: none;
	margin: 0 auto;
}
button, a {
	border: 1px solid rgba(236, 240, 241,0.6);
	font-size: 20px;
	width: 500px;
	height: 30px;
	color: #ecf0f1;
	box-shadow: 0 0 10px rgba(236, 240, 241,0.5);
}
.fa {
	font-size: 21px;
}